---
layout: markdown_page
title: "Product Direction - Monitor"
description: "Observability, incident management to help you deliver reliable and performant applications"
canonical_path: "/direction/monitor/"
---

## On this page
{:.no_toc}

- TOC
{:toc}

This is the product direction for Monitor. 

<%= devops_diagram(["Monitor"]) %>

## Stage Overview

The Monitor stage, from [Observability](/direction/monitor/observability/) to [ITSM](https://en.wikipedia.org/wiki/IT_service_management), empowers [Application Ops](/handbook/product/personas/#allison-application-ops) or SREs, to improve reliability of their deployed software and their DevOps processes by providing actionable feedback and efficient ways to operate and collaborate.

### Groups

The Monitor stage is made up two groups including:

* [Respond](/handbook/engineering/development/ops/monitor/respond/)
* [Observability](/handbook/engineering/development/ops/monitor/observability/)

### Monitor Stage Markets

The Monitor stage directly competes in several [markets defined within our Ops Section](/direction/ops/#market), including Observability, IT Service Management (ITSM), and Incident Management. 

#### Observability Market

The Observability market is large. Companies, from SMBs to enterprises recognize the need to operate with real-time insights into the health and performance of their application and infrastructure. As a result, Observability continues to expand. The market contains everything from well established market leaders, it includes a healthy ecosystem of open-source tools, and it also has an active and vibrant group of new entrants attempting to capture a slice of the market by leaning into new strategies. 

Successful vendors, such as market leader [Datadog](https://www.datadoghq.com/) are leveraging a [platform strategy](https://mitsloan.mit.edu/ideas-made-to-matter/platform-strategy-explained) to expand their markets (for example, see DataDog's [acquisition of Undefined Labs to expand beyond production applications to provide code insights during development](https://drive.google.com/file/d/1hq74bZvBv5nD6Krmi-iaSsdqA9ChOf1r/view), or their expansion to [incident management in 2020](https://www.datadoghq.com/blog/dash-2020-new-feature-roundup/)). Competition among market leaders today is also geared toward making the whole stack observable for enterprises.

#### ITSM Market

ITSM, or IT Service Management has long by around. It is about how IT teams manage the end-to-end delivery of IT services to both internal and external customers. It is a large umbrella category that includes sub-categories such as service desk, IT asset management, [Incident Management](debugging_and_health/incident_management/), Knowledge Management, and more.

ITSM, in some ways, has been eclipsed by DevOps in the public eye. The two are not mutually exclusive, there are also shared goals with both concepts primarily concerned with enabling alignment and efficiency to deliver business value. However, DevOps, with its adjacency to the cloud and modern practices, has certainly gained more clout in recent days. Fundamental to the ways businesses operate today in the cloud, we see more and more established ITSM vendors enter what may be considered the DevOps market in order to fuel growth.

### Strategy and Themes

#### Observability is set to continue to grow, but fissures in the model are emerging

Observability, driven by the explosion of cloud computing and microservice architecture over the past decade, has become essential to enterprises and smaller companies alike. However, the following problems exist:

- The metered business model treats all data the same. Charging customers to process and store data, without distinguing between useful and keep-it-around-just-in-case, has led to astronomical costs
- Owning telemetry data is critical in some industries. Most viable options to date are DIY
- DIY with Open Source is hard. Observability is about operating a system at scale and having a system that is reliable. Finding humans that can do this well is not trivial

We intend to offer the table-stakes offering in Observability, while differentiating on the market opportunity listed above.

#### Feedback is integral in every part of the DevOps Platform

Feedback, from the learnings you get from incidents, to understanding where the improvements area are in your DevOps processes, to alerts in your monitoring system, to requests you receive from customers, are necessary ingredients to building a better product and building the product more efficiently. We are focused on providing feedback both to how you use GitLab, how you can improve, and how your applications you build with GitLab are doing.

#### The collision of ITSM and DevOps

ITSM vendors are branching more and more into DevOps. DevOps vendors are also starting to dabble in traditional ITSM areas. Customers continue to want to decrease the number of vendors for their operations and business processes. We want to start to seriously solve adjacent IT problems using GitLab.

### 1 year plan

- [Incident Management Roadmap](https://about.gitlab.com/direction/monitor/debugging_and_health/incident_management/#roadmap)
- [Service Desk Roadmap](https://about.gitlab.com/direction/monitor/service_desk/#roadmap)
- [Observability Roadmap](observability/#roadmap)

### Target Audience
<!--
List the personas (https://about.gitlab.com/handbook/marketing/strategic-marketing/roles-personas#user-personas) involved in this category.

Look for differences in user's goals or uses that would affect their use of the product. Separate users and customers into different types based on those differences that make a difference.
-->
The Monitor stage generally share the following target personas:

- Primary: [Allison, Application Ops](https://about.gitlab.com/handbook/product/personas/#allison-application-ops)
- Secondary: [Priyanka, Platform Engineer](https://about.gitlab.com/handbook/product/personas/#allison-application-ops) or [Sasha, Software Engineer](https://about.gitlab.com/handbook/product/personas/#sasha-software-developer)


## Categories in Monitor

<%= partial("direction/categories-content", :locals => { :stageKey => "monitor" }) %>
