---
layout: default
title: Search GitLab
suppress_header: true
extra_css:
  - search.css
  - cta-promo.css
---

.gitlab-content-container
  .search-container.text-center
    .col-md-5
      = image_tag "/images/search-page-illustration.svg", alt: "Search page illustration"
    %h3 Hello, how can we help?
    .search-box-large.js-search-box
      %i.fa.fa-search.search-icon
      %input.js-search{ type: "text", placeholder: "What are you looking for?", autofocus: "" }
  .relevant-links
    %h5
      Popular searches: 
    .relevant-links-container.flex-wrap-md
      = link_to "Licensing and subscription FAQ", "/pricing/licensing-faq/"
      = link_to "Read about the latest release", "/releases/"
      %a{ href: "https://gitlab.com/explore" } Explore open source projects
      = link_to "Contribute to GitLab", "/community/"
      = link_to "Read about the latest release", "/releases/"
      = link_to "Learn about the product", "/stages-devops-lifecycle/"

  = partial "includes/ctas/cta-promo"
